files:
    "/etc/cron.d/fetch_pinboard_cron":
        mode: "000644"
        owner: root
        group: root
        content: |
            */3 * * * * root /usr/local/bin/fetch_pinboard_cron.sh

    "/etc/cron.d/update_dynamodb_cron":
        mode: "000644"
        owner: root
        group: root
        content: |
            */5 * * * * root /usr/local/bin/update_dynamodb_cron.sh

    "/usr/local/bin/fetch_pinboard_cron.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash
            echo "${PINBOARD_AUTH_TOKEN}" >> /var/log/fetch_pinboard_cron.log
            curl "https://api.pinboard.in/v1/posts/all?auth_token=${PINBOARD_AUTH_TOKEN}" >> /var/log/fetch_pinboard_cron.log
            exit 0

    "/usr/local/bin/update_dynamodb_cron.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash
            pwd >> /var/log/update_dynamodb_cron.log
            ./var/app/current/src/scripts/dump.ts >> /var/log/update_dynamodb_cron.log
            exit 0

    "/opt/elasticbeanstalk/tasks/taillogs.d/custom_log.conf" :
        mode: "000755"
        owner: root
        group: root
        content: |
            /var/log/update_dynamodb_cron.log
            /var/log/fetch_pinboard_cron.log
    
commands:
    remove_old_cron:
        command: "rm -f /etc/cron.d/fetch_pinboard_cron.bak /etc/cron.d/update_dynamodb_cron.bak"