Resources:
  sslSecurityGroupIngress: 
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0

files: 
  /etc/cron.d/certbot_renew: 
    content: |
        0 0 * * 0 root certbot renew
    group: root
    mode: "000644"
    owner: root
    
container_commands:
  10_augeas_libs: 
    command: "sudo dnf install -y augeas-libs"
  11_python_venv:
    command: "sudo python3 -m venv /opt/certbot/"
  12_pip_prep:
    command: "sudo /opt/certbot/bin/pip install --upgrade pip"
  20_installcertbot: 
    command: "sudo /opt/certbot/bin/pip install certbot"
  30_getcert: 
    command: "sudo /opt/certbot/bin/certbot certonly --debug --non-interactive --email ${EMAIL_LINK} --agree-tos --standalone --domains ${DOMAIN_LINK} --keep-until-expiring --pre-hook \"sudo service nginx stop\" --post-hook \"sudo service nginx start\""
  40_link: 
    command: "ln -sf /etc/letsencrypt/live/${DOMAIN_LINK} /etc/letsencrypt/live/ebcert"
